<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="FlightBookingSuite" parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="tests.FlightBookingTest"/>
            <class name="tests.InvalidBookingTest"/>
            <class name="tests.EmptyAddressTest"/>
            <class name="tests.InvalidCardTest"/>
            <class name="tests.PassengerValidationTest"/>
        </classes>
    </test>

    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="tests.FlightBookingTest"/>
            <class name="tests.InvalidBookingTest"/>
            <class name="tests.EmptyAddressTest"/>
            <class name="tests.InvalidCardTest"/>
            <class name="tests.PassengerValidationTest"/>
        </classes>
    </test>

</suite>